<div id = 'title'>
	<h1>{{title}}</h1><hr>
	<h2>{{subtitle}}</h2>
	<!--<p>{{email}}</p>-->
</div>

<article class = "about">
	<h2>About me</h2>
	<p>
		Mechanical engineer and web developer. Formed betwen Spain and Italy, 
		at the University of Castilla-La Mancha and the Università degli studi
		di Perugia.
	</p>
	<div id = "about-left">
		<h3>PERSONAL PROFILE</h3>
		<p>
			Visit my Personal Portfolio and Curriculum on my webpage:<br><br>

			<a href = "https://github.com/PedroMartinezGC" target = "_blank"><img class = "logo-about" src = "../../assets/img/GitHubLogo.png" title = "Go to GitHub" /></a>
		</p>

		
	</div>
</article>
